* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4F1DE;
    font-family: 'Karla', sans-serif;
}

.babypink { background-color: #F0C1B7; }
.terracotta { background-color: #E07A5F; }
.independence { background-color: #787ead; }
.greensheen { background-color: #81B29A; }
.deepchampagne { background-color: #F2CC8F; }

#menu-img {
    max-height: 30px;
    margin-left: 15px;
    display: none;
}

#main-nav {
    color: #111;
    display: flex;
    align-items: center;
}

#main-nav ul {
    list-style: none;
}

#main-nav ul:hover {
    cursor: default;
}

#main-nav ul li h2 {
    font-size: 28px;
}

#main-nav ul li h2:hover {
    cursor: default;
}

#main-nav ul li button {
    width: fit-content;
    background: none;
    border: none;
    font-size: 16px;
    color: #111;
}

#main-nav ul li button:hover {
    cursor: pointer;
    text-decoration: underline;
}

#study {
    width: 90%;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
    height: 80vh;
}

#study .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#study .container h1, #timer, .container .goBtn {
    margin: 20px;
}

.container h1 {
    font-size: 42px;
}

#timer {
    font-size: 60px;
}

.goBtn {
    background-color: #73584D;
    color: white;
    font-size: 24px;
    padding: 15px 30px;
    border: none;
    border-radius: 40px;
    display: block;
}

.goBtn:hover {
    background-color: #63483D;
    box-shadow: 1px 2px 3px 3px #43281D66;
    cursor: pointer;
}

.player {
    margin: 40px 40px 0 40px;
    display: inline-block;
    width: 50%;
}

.instructions {
    width: fit-content;
    display: inline-block;
    position: absolute;
    top: 20%;
}

.instructions h3 {
    font-size: 36px;
    margin: 20px;
}

.instructions ol {
    margin-left: 50px;
    padding: 0 10px;
}

.instructions ol li {
    margin: 15px 0;
    font-size: 18px;
}

.instructions ol li a {
    text-decoration: none;
}

.instructions ol input {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 15px;
    border: 2px solid black;
    margin: 0 0 25px 0;
}

.instructions button {
    margin-left: 25px !important; 
}

#board {
    width: 400px;
    height: 400px;
    border: 2px solid purple;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img, #pieces img {
    width: 79px;
    height: 79px;
    border: 0.5px solid lightblue;
}

#pieces {
    width: 1040px;
    height: 160px;
    border: 2px solid purple;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 480px) {
    
    main {
        width: 100%;
        height: calc(100vh - 100px);
        background-color: #F4F1DE;
    }

    #main-nav {
        width: 100%;
        height: 100px;
        justify-content: center;
    }
    
    #main-nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    #main-nav ul li {
        width: fit-content;
        display: inline-block;
        background: none;
        margin: 0px 10px;
        padding: 0px 5px;
    }

    #title-heading {
        width: 120px;
    }

    #title { order: 2; text-align: center;}
    #main-nav ul :nth-child(2) { order: 1; }
    #main-nav ul :nth-child(3) { order: 1; }
    #main-nav ul :nth-child(4) { order: 1; }
    #main-nav ul :nth-child(5) { order: 3; }
    #main-nav ul :nth-child(6) { order: 3; }
    #main-nav ul :nth-child(7) { order: 3; }
}

#instructions {
    margin:auto;
    left:50%;
    font-size:100px;
    text-align: center;
    padding-top: 50px;
}

@media screen and (max-width: 480px) {
    #main-nav {
        width: 100%;
        height: 50px;
        justify-content: flex-start;
    }

    #main-nav ul {
        display: block;
    }

    #menu-img {
        display: block;
    }
    
    .nav-link {
        margin: 0;
        display: block;
        position: relative;
        width: 100%;
        font-family: 'Karla', sans-serif;
    }

    #title {
        display: inline-block;
        margin-left: 15px;
    }

    #main-nav ul {
        padding: 0;
        width: fit-content;
    }
}

#circle {
    background: #df7878;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding-top: 22px;
    padding-bottom: 10px;
    position: absolute;
    top: 50%;
    left: 47%;
    animation: rainbow 8s linear, sizeChange 19s;
    font-size: 50px;
    color: #fff;
    text-align: center;
	animation-iteration-count: infinite;
}

@keyframes rainbow{
    0%{background-color: #df7878;}
    10%{background-color: #df9578;}
    20%{background-color: #dfa378;}
    30%{background-color: #dfc278;}
    40%{background-color: #9cdf78;}
    50%{background-color: #78df82;}
    60%{background-color: #78dfcc;}
    70%{background-color: #78acdf;}
    80%{background-color: #7a78df;}
    90%{background-color: #df78da;}
    100% {
        background-color: #df7878;
    }
}

@keyframes sizeChange{
    0%{
        transform: scale(1);
    }
    21%{
        transform: scale(2);
    }
    57%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }

}

