* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4F1DE;
    font-family: 'Karla', sans-serif;
}

.babypink { background-color: #F0C1B7; }
.terracotta { background-color: #E07A5F; }
.independence { background-color: #787ead; }
.greensheen { background-color: #81B29A; }
.deepchampagne { background-color: #F2CC8F; }

#menu-img {
    max-height: 30px;
    margin-left: 15px;
    display: none;
}

#main-nav {
    color: #111;
    display: flex;
    align-items: center;
}

#main-nav ul {
    list-style: none;
}

#main-nav ul:hover {
    cursor: default;
}

#main-nav ul li h2 {
    font-size: 28px;
}

#main-nav ul li h2:hover {
    cursor: default;
}

#main-nav ul li button {
    width: fit-content;
    background: none;
    border: none;
    font-size: 16px;
    color: #111;
    font-family: 'Karla', sans-serif;
}

#main-nav ul li button:hover {
    cursor: pointer;
    text-decoration: underline;
}

#study {
    width: 90%;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
    height: 80vh;
}

#study .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#study .container h1, #timer, .container .goBtn {
    margin: 20px;
}

.container h1 {
    font-size: 42px;
}

#timer {
    font-size: 60px;
}

.goBtn, .genBtn, #gen {
    background-color: #73584D;
    color: white;
    font-size: 24px;
    padding: 15px 30px;
    border: none;
    border-radius: 40px;
    display: block;
    font-family: 'Karla', sans-serif;
}

.goBtn:hover {
    background-color: #63483D;
    box-shadow: 1px 2px 3px 3px #43281D66;
    cursor: pointer;
}

.player {
    margin: 40px 40px 0 40px;
    display: inline-block;
    width: 50%;
}

.instructions {
    width: fit-content;
    display: inline-block;
    position: absolute;
    top: 20%;
}

.instructions h3 {
    font-size: 36px;
    margin: 20px;
}

.instructions ol {
    margin-left: 50px;
    padding: 0 10px;
}

.instructions ol li {
    margin: 15px 0;
    font-size: 18px;
}

.instructions ol li a {
    text-decoration: none;
}

.instructions ol input {
    width: 250px;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 15px;
    border: 2px solid black;
    margin: 0 0 25px 0;
}

.instructions button {
    margin-left: 25px !important; 
}

#pieces {
    width: 399px;
    height: 400px;
    border: 2px solid rgb(56, 0, 56);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    float: left;
}

#pieces img {
    width: 79px;
    height: 79px;
    border: 0.5px solid rgb(155, 177, 184);
}

.puzzle-container {
    width: fit-content;
    height: fit-content;
    margin: 5px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 480px) {
    
    main {
        width: 100%;
        background-color: #F4F1DE;
    }

    #main-nav {
        width: 100%;
        height: 100px;
        justify-content: center;
    }
    
    #main-nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    #main-nav ul li {
        width: fit-content;
        display: inline-block;
        background: none;
        margin: 0px 10px;
        padding: 0px 5px;
    }

    #title-heading {
        width: 120px;
    }

    #title { order: 2; text-align: center;}
    #main-nav ul :nth-child(2) { order: 1; }
    #main-nav ul :nth-child(3) { order: 1; }
    #main-nav ul :nth-child(4) { order: 1; }
    #main-nav ul :nth-child(5) { order: 3; }
    #main-nav ul :nth-child(6) { order: 3; }
    #main-nav ul :nth-child(7) { order: 3; }
}

#instructions {
    margin:auto;
    left:50%;
    font-size:100px;
    text-align: center;
    padding-top: 50px;
}

#fact {
    text-align:center;
    font-size: 24px;
    padding: 50px;
}

.roundBorder {
    background-color: #ffffff;
    border-radius: 30px;
    padding: 10px;
    margin: 30px 50px;
    margin-top: 50px;
    
}

#gen {
    background-color: #81B29A;
    text-align:center;
    margin: 5px 10px;
    justify-content: center;
    left:50%;
    padding: 15px 30px;
    font-size: 42px;
}

button:active{
    transform: scale(0.95);
}


#gen:hover{
    background-color: #689a82;
}

.genBtn {
    background-color: #F2CC8F;
    margin: 10px 40px 0px 20px;
}

.genBtn:hover{
    background-color: #cba363;
}

.centerBtn {
    display:flex;
    justify-content: center;
    margin-top: 10px;
}

.button {
    font-family: 'Karla', sans-serif;
}

.buttons {
    display:flex;
    justify-content:center;
    padding:20px;
    margin: 0px 40px;
}

.center {
    justify-content:center;
}

.roundBtn{
    background-color: #73584D;
    color: white;
    font-size: 24px;
    padding: 60px;
    padding-top: 30px;
    padding-bottom:30px;
    border: none;
    border-radius: 60px;
    font-family: 'Karla', sans-serif;
    font-size: 50px;
    margin-top: 10px;
}

#learnBtn{
    margin-bottom: 120px;
}
#learnBtn:hover{
    background-color: #483127;
}

#bigTitle{
    font-size: 128px;
    font-weight:bold;
    margin:auto;
    padding-left: 80px;
    padding-top:0px;
    padding-bottom: 20px;
}

#pron{
    font-size:52px;
    padding: 10px;
    padding-left:80px;
}

#type{
    font-size:38px;
    padding: 10px;
    padding-left:80px;
}

#def{
    font-size: 38px;
    padding: 5px;
    padding-left:80px;
}

p{
    padding: 10px;
    line-height:2em;
    font-size: 24px;
    margin: 40px;
    margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
    #main-nav {
        width: 100%;
        height: 50px;
        justify-content: flex-start;
    }

    #main-nav ul {
        display: block;
    }

    #menu-img {
        display: block;
    }
    
    .nav-link {
        margin: 0;
        display: block;
        position: relative;
        width: 100%;
        font-family: 'Karla', sans-serif;
    }

    #title {
        display: inline-block;
        margin-left: 15px;
    }

    #main-nav ul {
        padding: 0;
        width: fit-content;
    }
}

#circle {
    background: #df7878;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding-top: 22px;
    padding-bottom: 10px;
    position: absolute;
    top: 50%;
    left: 47%;
    animation: rainbow 8s linear, sizeChange 19s;
    font-size: 50px;
    color: #fff;
    text-align: center;
	animation-iteration-count: infinite;
}

@keyframes rainbow{
    0%{background-color: #df7878;}
    10%{background-color: #df9578;}
    20%{background-color: #dfa378;}
    30%{background-color: #dfc278;}
    40%{background-color: #9cdf78;}
    50%{background-color: #78df82;}
    60%{background-color: #78dfcc;}
    70%{background-color: #78acdf;}
    80%{background-color: #7a78df;}
    90%{background-color: #df78da;}
    100% {
        background-color: #df7878;
    }
}

@keyframes sizeChange{
    0%{
        transform: scale(1);
    }
    21%{
        transform: scale(2);
    }
    57%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }

}

.scrolling{
    height: 400px;
  }

  .cont {
    overflow: hidden;
    display: flex;
    height: 400px;
    width: calc(100vw - 20px);
    margin: 0 auto;
    margin-top: 14px;
  }

  .cont div {
    height: 400px;
    min-width: 600px;
    margin-left: 12px;
    animation: slide 100s linear infinite;
  }
  
  @keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-1872px, 0, 0); /* The image width */
    }
  }

  img {
    padding: 0px;
    margin: 0px;
    max-width: 100%;
  }